body {
    font-family: Arial, sans-serif;
    margin: 25px;
}


h1 {
    position: relative;
    left: -100%; 
    animation: slideInFromLeft 2s forwards; 
    text-align: center;
    margin-bottom: 50px;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
}


p {
    position: relative;
    right: -100%;
    animation: slideInFromRight  2s forwards; 
    animation-delay: 0.5s; 
}

@keyframes slideInFromLeft {
    to {
        left: 0; 
    }
}

@keyframes slideInFromRight {
    to {
        right: 0;
    }
}
